:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]),
:where(input[type="file"])::file-selector-button {
  --_border-radius: var(--border-radius, none);
  --_bg: var(--bg, #fff);
  --_color: var(--color, #333);

  font: inherit;
  letter-spacing: inherit;
  line-height: 1.5;
  border-radius: var(--_border-radius) !important;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-style: initial;
  background: var(--_bg) !important;
  color: var(--_color) !important;
  border: 1px solid #c8c8c8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5ch;
  padding: 8px 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-width: 100px;
  text-decoration: none !important;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  :where(
  .btn-link,
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"]) {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
}

:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
):where(:not(:active):hover) {
  background: var(--hover-bg, var(--_bg));
  color: var(--hover-color, var(--_color));
  border-color: var(--hover-border, #999) !important;
}

:where(.btn-link, button, input):where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
)[disabled] {
  background: none;
  cursor: not-allowed; /* stylelint-disable-line */

  --color: hsl(210deg 7% 40%);
}

:where(input[type="file"]) {
  font: inherit;
  inline-size: 100%;
  max-inline-size: max-content;
}

:where(input[type="button"]),
:where(input[type="file"])::file-selector-button {
  appearance: none; /* stylelint-disable-line */
}

:where(input[type="file"])::file-selector-button {
  margin-inline-end: 1.5ch;
}

:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
) :where(.icon) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
) :where(svg, .icon > svg) {
  height: 1.8ch;
  width: 1.8ch;
  flex-shrink: 0;
  fill: currentcolor;
}

:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
):where(.btn-w100) {
  width: 100%;
}

:where(
.btn-link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
):where(.btn-w100 + .btn-w100) {
  margin-top: 0.5rem;
}
