:where(a:not(.btn-link)) {
  --_color: var(--color, blue);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5ch;
  color: var(--_color);
}

:where(a:not(.btn-link):hover) {
  color: var(--hover-color, var(--_color));
}

:where(a:not(.btn-link)) :where(.icon) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

:where(a:not(.btn-link)) :where(svg, .icon > svg) {
  height: 1.5ch;
  width: 1.5ch;
  flex-shrink: 0;
  fill: currentcolor;
}
