.emoji {
  font-weight: 400;
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 !important;
  padding: .125rem 0 0 0 !important;
  font-size: 1.0rem;
}

.metadata>li:not(:last-of-type):not(:only-of-type):after {
  padding-left: 5px;
  padding-right: 5px;
  content: "\2022";
}

.applies-to {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 !important;
  padding: .125rem 0 0 0 !important;
}

.applies-to>li:not(:last-of-type):not(:only-of-type):after {
  padding-left: 5px;
  padding-right: 5px;
  content: "\2022";
}

ul:last-child {
  margin-bottom: 20px;
}

hr {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #e3e3e3;
}

div.NOTE.alert.alert-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.WARNING.alert.alert-warning {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.IMPORTANT.alert.alert-danger {
  margin-top: 20px;
  margin-bottom: 20px;
}

.conceptual-content {
  padding-top: 10px;
}

.article img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.toc .nav .level3 li {
  margin-top: 3px;
  margin-left: 5px;
}

.content a[href*="//"]:not([href*="cdn.tabulareditor.com"]):not([href*="api.tabulareditor.com"]):not([href*="billing.tabulareditor.com"]):not([href*="tabulareditor.com"]):after {
  -webkit-clip-path: padding-box inset(.3125em 0);
  clip-path: padding-box inset(.3125em 0);
  margin: 0 .125rem;
  -webkit-mask-size: .75em 1.5em;
  mask-size: .75em 1.5em;
  padding: 0 .375em;
}

.content a[href*="//"]:not([href*="cdn.tabulareditor.com"]):not([href*="api.tabulareditor.com"]):not([href*="billing.tabulareditor.com"]):not([href*="tabulareditor.com"]):after {
  background-color: currentColor !important;
  content: "";
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath d='M1792 256v640h-128V475l-851 850-90-90 850-851h-421V256h640zm-512 1007h128v529H256V640h529v128H384v896h896v-401z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath d='M1792 256v640h-128V475l-851 850-90-90 850-851h-421V256h640zm-512 1007h128v529H256V640h529v128H384v896h896v-401z'/%3E%3C/svg%3E");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.code-header {
  box-sizing: content-box;
  background-color: #f2f2f2;
  color: #171717;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin-top: 20px;
  min-height: 30px;
}

.tabGroup section[role="tabpanel"] .code-header {
  margin-left: -16px;
  margin-right: -16px;
}

.tabGroup section[role="tabpanel"] .code-header:first-child {
  margin-top: -16px;
}

.code-header>.language {
  padding: 2px 16px;
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 26px;
}

.code-header>.action {
  position: relative;
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid #e3e3e3;
  border-left-width: 1px;
  color: #171717;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.code-header .glyphicon {
  margin-right: 0.25em;
}

.code-header>.action:hover {
  background-color: #fafafa;
}

.code-header+pre {
  margin-top: 0;
  border: 1px solid #e3e3e3;
}

.code-header>.action .successful-copy-alert {
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: #128712;
  outline-color: #fff;
  color: #fff;
}

.code-header>.action .successful-copy-alert.is-transparent {
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

.code-container {
  border: 1px solid #e3e3e3;
  background-color: #f2f2f2;
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.lang-dax.hljs.language-dax pre {
  background-color: #f7f7f7;
  color: #333;
  overflow-x: auto;
}

.lang-dax.hljs.language-dax .hljs-keyword {
  color: blue;
}

.lang-dax.hljs.language-dax .hljs-string {
  color: red;
}

.lang-dax.hljs.language-dax .hljs-variable {
  color: black;
}

.lang-dax.hljs.language-dax .hljs-comment {
  color: green;
}

.lang-dax.hljs.language-dax .hljs-built_in {
  color: purple;
}

.lang-dax.hljs.language-dax .hljs-literal {
  color: black;
}