{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!master(layout/_master.tmpl)}}
{{{rawTitle}}}
{{#updated}}
<ul class="metadata"><li>{{updated}}</li><li>{{author}}</li></ul>
{{/updated}}
{{#applies_to}}
<div class="applies-to-div"><strong>Applies to: </strong><ul class="applies-to">
  {{#editions}}
    {{#none}}<li><span><span class="emoji">&#10060;</span> <del>{{edition}} Edition</del></span></li>{{/none}}
    {{#partial}}<li><span title="{{partial}}"><span class="emoji">&#9888;</span> {{edition}} Edition</span></li>{{/partial}}
    {{^partial}}{{^none}}<li><span><span class="emoji">&#10004;</span> {{edition}} Edition</span></li>{{/none}}{{/partial}}
  {{/editions}}
  {{#versions}}
    {{#none}}<li><span><span class="emoji">&#10060;</span> <del>Tabular Editor {{version}}</del></span></li>{{/none}}
    {{#partial}}<li><span title="{{partial}}"><span class="emoji">&#9888;</span>Tabular Editor {{version}}</span></li>{{/partial}}
    {{^partial}}{{^none}}<li><span><span class="emoji">&#10004;</span>Tabular Editor {{version}}</span></li>{{/none}}{{/partial}}
  {{/versions}}
</ul></div>
{{/applies_to}}
<div id="conceptual-content" class="conceptual-content">
{{{conceptual}}}
</div>
<script type="text/javascript">
function scaleImages() {
    var content = document.getElementById("conceptual-content");
    var myImgs = content.getElementsByTagName('img');
    for (var i = 0; i < myImgs.length; i++) {
        var img = myImgs[i];
        if(img.classList.contains("noscale")) continue;
        var width = img.naturalWidth,
            height = img.naturalHeight;

        img.width = width / 2;
        img.height = height / 2;
    }
}
window.onload = scaleImages;
</script>