.widget-type-simple_menu ul[role="menu"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget-type-simple_menu a[role="menuitem"] {
  text-decoration: none;
  color: #fff;
}

.widget-type-simple_menu .hs-menu-flow-vertical a[role="menuitem"] {
  padding: 6px 0;
}

.widget-type-simple_menu .hs-menu-flow-horizontal ul[role="menu"] {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

@media (max-width: 991.98px) {
  .widget-type-simple_menu .hs-menu-flow-horizontal ul[role="menu"] {
    justify-content: flex-start;
  }
}
