/* styling of alignemnt between button links and their icons */
.siteheader-module__button .g-module-macros-btn,
.siteheader-module__secondary-button .g-module-macros-btn,
.siteheader-module__cta a {
  display: inline-flex !important;
  gap: var(--root-button-icon-gap, .9ch) !important;
}

/* align all dropdowns plus override site-header styling so last child dropdown aligns vertically the same way as the rest */
.siteheader-module__main-nav .main-nav__list-item .main-nav__list--dropdown[data-bs-popper],
.siteheader-module__main-nav .main-nav__list-item:last-child .main-nav__list--dropdown[data-bs-popper] {
  left: -5px;
  right: unset;
}

.siteheader-module .header-search__form-btn {
  color: inherit;
}

.siteheader-module .header-search__form-btn-icon {
  font-size: 1.25rem;
}

/* site-header - desktop adjustments */
@media (min-width: 1200px) {
  /* align all dropdowns */
  .siteheader-module__main-nav .main-nav__list-item .main-nav__list--dropdown[data-bs-popper],
  .siteheader-module__main-nav .main-nav__list-item:last-child .main-nav__list--dropdown[data-bs-popper] {
    left: 8px;
  }
}
