:root {
  /* root variables */
  /* box-shadow global styles */
  --shadow-color: rgb(154 161 177 / 30%);
  --shadow-sm: 0 1px 2px 0 var(--shadow-color);
  --shadow-md: 0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
  --shadow-lg: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
  --shadow-xl: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
  --shadow-2xl: 0 20px 25px -5px var(--shadow-color), 0 8px 10px -6px var(--shadow-color);
  /* --shadow-custom1: */
  /* --shadow-custom2: */
  /* --shadow-custom3: */

  /* animation global styles */
  --ani-scale1x: scale(1.01);
  --ani-scale2x: scale(1.03);
  --ani-scale3x: scale(1.05);
  --ani-scale4x: scale(1.08);
  --ani-slideup1x: translateY(-4px);
  --ani-slideup2x: translateY(-8px);
  --ani-slideup3x: translateY(-12px);
  /* --ani-custom1: */
  /* --ani-custom2: */
  /* --ani-custom3: */

  }

/*
  If the browser understands the media query and the user
  explicitly hasn't set a preference, then use animations transition on components and modules.
*/
@media (prefers-reduced-motion: no-preference) {
  :root {
    --root-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --root-transition-duration: 150ms;
  }
}
