$theme-global_colors-primary-color: #004C47;
$theme-global_colors-primary-opacity: 100;
$theme-global_colors-secondary1-color: #98DAA4;
$theme-global_colors-secondary1-opacity: 100;
$theme-global_colors-secondary2-color: #7FD3CE;
$theme-global_colors-secondary2-opacity: 100;
$theme-global_colors-secondary3-color: #ECB171;
$theme-global_colors-secondary3-opacity: 100;
$theme-global_colors-link-color: #171717;
$theme-global_colors-link-opacity: 100;
$theme-global_colors-advanced-focus-color: null;
$theme-global_colors-advanced-focus-opacity: null;
$theme-global_colors-advanced-accent-color: null;
$theme-global_colors-advanced-accent-opacity: null;
$theme-typography-text-background-color: #EFEAE1;
$theme-typography-text-background-opacity: 100;
$theme-typography-text-font-size: 22;
$theme-typography-text-font-size_unit: px;
$theme-typography-text-font-color: #1d1d1d;
$theme-typography-text-font-variant: regular;
$theme-typography-text-font-font: 'Albert Sans';
$theme-typography-text-font-fallback: sans-serif;
$theme-typography-text-font-font_set: GOOGLE;
$theme-typography-text-secondary_global_font-variant: 700;
$theme-typography-headings-font-color: #171717;
$theme-typography-headings-font-fallback: sans-serif;
$theme-typography-headings-font-font: 'Albert Sans';
$theme-typography-headings-font-font_set: GOOGLE;
$theme-typography-headings-font-variant: 500;
$theme-typography-headings-headings_link-underline: none;
$theme-typography-headings-headings_link-hover-underline: none;
$theme-typography-heading-h1-font-size: 42;
$theme-typography-heading-h1-font-size_unit: px;
$theme-typography-heading-h2-font-size: 36;
$theme-typography-heading-h2-font-size_unit: px;
$theme-typography-heading-h3-font-size: 30;
$theme-typography-heading-h3-font-size_unit: px;
$theme-typography-heading-h4-font-size: 24;
$theme-typography-heading-h4-font-size_unit: px;
$theme-typography-heading-h5-font-size: 20;
$theme-typography-heading-h5-font-size_unit: px;
$theme-typography-heading-h6-font-size: 16;
$theme-typography-heading-h6-font-size_unit: px;
$theme-typography-heading-d1-font-size: 86;
$theme-typography-heading-d1-font-size_unit: px;
$theme-typography-heading-d2-font-size: 76;
$theme-typography-heading-d2-font-size_unit: px;
$theme-typography-heading-d3-font-size: 68;
$theme-typography-heading-d3-font-size_unit: px;
$theme-typography-heading-d4-font-size: 62;
$theme-typography-heading-d4-font-size_unit: px;
$theme-typography-heading-d5-font-size: 56;
$theme-typography-heading-d5-font-size_unit: px;
$theme-typography-heading-d6-font-size: 48;
$theme-typography-heading-d6-font-size_unit: px;
$theme-typography-link-font-size: 22;
$theme-typography-link-font-size_unit: px;
$theme-typography-link-font-color: #171717;
$theme-typography-link-font-variant: regular;
$theme-typography-link-font-font: 'Albert Sans';
$theme-typography-link-font-fallback: sans-serif;
$theme-typography-link-font-font_set: GOOGLE;
$theme-typography-link-hover-underline: underline;
$theme-typography-blockquote-font-size: 18;
$theme-typography-blockquote-font-size_unit: px;
$theme-buttons-size-small-spacing-padding-top-value: 12;
$theme-buttons-size-small-spacing-padding-top-units: px;
$theme-buttons-size-small-spacing-padding-bottom-value: 12;
$theme-buttons-size-small-spacing-padding-bottom-units: px;
$theme-buttons-size-small-spacing-padding-left-value: 22;
$theme-buttons-size-small-spacing-padding-left-units: px;
$theme-buttons-size-small-spacing-padding-right-value: 22;
$theme-buttons-size-small-spacing-padding-right-units: px;
$theme-buttons-size-small-font_size: 18;
$theme-buttons-size-regular-spacing-padding-top-value: 18;
$theme-buttons-size-regular-spacing-padding-top-units: px;
$theme-buttons-size-regular-spacing-padding-bottom-value: 18;
$theme-buttons-size-regular-spacing-padding-bottom-units: px;
$theme-buttons-size-regular-spacing-padding-left-units: px;
$theme-buttons-size-regular-spacing-padding-left-value: 23;
$theme-buttons-size-regular-spacing-padding-right-units: px;
$theme-buttons-size-regular-spacing-padding-right-value: 23;
$theme-buttons-size-regular-font_size: 20;
$theme-buttons-size-large-spacing-padding-top-value: 38;
$theme-buttons-size-large-spacing-padding-top-units: px;
$theme-buttons-size-large-spacing-padding-bottom-value: 38;
$theme-buttons-size-large-spacing-padding-bottom-units: px;
$theme-buttons-size-large-spacing-padding-left-value: 40;
$theme-buttons-size-large-spacing-padding-left-units: px;
$theme-buttons-size-large-spacing-padding-right-value: 40;
$theme-buttons-size-large-spacing-padding-right-units: px;
$theme-buttons-size-large-font_size: 32;
$theme-buttons-primary-background-color-color: #004C47;
$theme-buttons-primary-background-color-opacity: 100;
$theme-buttons-primary-text-font-color: #FFFFFF;
$theme-buttons-primary-text-font-variant: 500;
$theme-buttons-primary-text-font-font: 'Albert Sans';
$theme-buttons-primary-text-font-fallback: sans-serif;
$theme-buttons-primary-text-font-font_set: GOOGLE;
$theme-buttons-primary-border-border-top-style: solid;
$theme-buttons-primary-border-border-top-color: #004C47;
$theme-buttons-primary-border-border-top-opacity: 100;
$theme-buttons-primary-border-border-top-width-value: 2;
$theme-buttons-primary-border-border-top-width-units: px;
$theme-buttons-primary-border-border-bottom-style: solid;
$theme-buttons-primary-border-border-bottom-color: #004C47;
$theme-buttons-primary-border-border-bottom-opacity: 100;
$theme-buttons-primary-border-border-bottom-width-value: 2;
$theme-buttons-primary-border-border-bottom-width-units: px;
$theme-buttons-primary-border-border-left-style: solid;
$theme-buttons-primary-border-border-left-color: #004C47;
$theme-buttons-primary-border-border-left-opacity: 100;
$theme-buttons-primary-border-border-left-width-value: 2;
$theme-buttons-primary-border-border-left-width-units: px;
$theme-buttons-primary-border-border-right-style: solid;
$theme-buttons-primary-border-border-right-color: #004C47;
$theme-buttons-primary-border-border-right-opacity: 100;
$theme-buttons-primary-border-border-right-width-value: 2;
$theme-buttons-primary-border-border-right-width-units: px;
$theme-buttons-primary-border-border_radius: 0;
$theme-buttons-primary-hover-background-color: #004C47;
$theme-buttons-primary-hover-background-opacity: 100;
$theme-buttons-primary-hover-color-color: #fff;
$theme-buttons-primary-hover-color-opacity: 100;
$theme-buttons-primary-hover-border-color: #004C47;
$theme-buttons-primary-hover-border-opacity: 100;
$theme-buttons-secondary1-background-color-color: #98DAA4;
$theme-buttons-secondary1-background-color-opacity: 0;
$theme-buttons-secondary1-text-font-color: #000000;
$theme-buttons-secondary1-text-font-variant: 500;
$theme-buttons-secondary1-text-font-font: 'Albert Sans';
$theme-buttons-secondary1-text-font-fallback: sans-serif;
$theme-buttons-secondary1-text-font-font_set: GOOGLE;
$theme-buttons-secondary1-border-border-bottom-color: #004C47;
$theme-buttons-secondary1-border-border-bottom-opacity: 100;
$theme-buttons-secondary1-border-border-bottom-style: solid;
$theme-buttons-secondary1-border-border-bottom-width-units: px;
$theme-buttons-secondary1-border-border-bottom-width-value: 2;
$theme-buttons-secondary1-border-border-left-color: #004C47;
$theme-buttons-secondary1-border-border-left-opacity: 100;
$theme-buttons-secondary1-border-border-left-style: solid;
$theme-buttons-secondary1-border-border-left-width-units: px;
$theme-buttons-secondary1-border-border-left-width-value: 2;
$theme-buttons-secondary1-border-border-right-color: #004C47;
$theme-buttons-secondary1-border-border-right-opacity: 100;
$theme-buttons-secondary1-border-border-right-style: solid;
$theme-buttons-secondary1-border-border-right-width-units: px;
$theme-buttons-secondary1-border-border-right-width-value: 2;
$theme-buttons-secondary1-border-border-top-color: #004C47;
$theme-buttons-secondary1-border-border-top-opacity: 100;
$theme-buttons-secondary1-border-border-top-style: solid;
$theme-buttons-secondary1-border-border-top-width-units: px;
$theme-buttons-secondary1-border-border-top-width-value: 2;
$theme-buttons-secondary1-border-border_radius: undefined;
$theme-buttons-secondary1-hover-background-color: #004C47;
$theme-buttons-secondary1-hover-background-opacity: 0;
$theme-buttons-secondary1-hover-color-color: #171717;
$theme-buttons-secondary1-hover-color-opacity: 100;
$theme-buttons-secondary1-hover-border-color: #004C47;
$theme-buttons-secondary1-hover-border-opacity: 100;
$theme-buttons-secondary2-background-color-color: #7FD3CE;
$theme-buttons-secondary2-background-color-opacity: 100;
$theme-buttons-secondary2-text-font-color: #000000;
$theme-buttons-secondary2-text-font-variant: 500;
$theme-buttons-secondary2-text-font-font: 'Albert Sans';
$theme-buttons-secondary2-text-font-fallback: sans-serif;
$theme-buttons-secondary2-text-font-font_set: GOOGLE;
$theme-buttons-secondary2-border-border-top-style: solid;
$theme-buttons-secondary2-border-border-top-color: #7FD3CE;
$theme-buttons-secondary2-border-border-top-opacity: 100;
$theme-buttons-secondary2-border-border-top-width-value: 2;
$theme-buttons-secondary2-border-border-top-width-units: px;
$theme-buttons-secondary2-border-border-bottom-style: solid;
$theme-buttons-secondary2-border-border-bottom-color: #7FD3CE;
$theme-buttons-secondary2-border-border-bottom-opacity: 100;
$theme-buttons-secondary2-border-border-bottom-width-value: 2;
$theme-buttons-secondary2-border-border-bottom-width-units: px;
$theme-buttons-secondary2-border-border-left-style: solid;
$theme-buttons-secondary2-border-border-left-color: #7FD3CE;
$theme-buttons-secondary2-border-border-left-opacity: 100;
$theme-buttons-secondary2-border-border-left-width-value: 2;
$theme-buttons-secondary2-border-border-left-width-units: px;
$theme-buttons-secondary2-border-border-right-style: solid;
$theme-buttons-secondary2-border-border-right-color: #7FD3CE;
$theme-buttons-secondary2-border-border-right-opacity: 100;
$theme-buttons-secondary2-border-border-right-width-value: 2;
$theme-buttons-secondary2-border-border-right-width-units: px;
$theme-buttons-secondary2-border-border_radius: 0;
$theme-buttons-secondary2-hover-background-color: #7FD3CE;
$theme-buttons-secondary2-hover-background-opacity: 100;
$theme-buttons-secondary2-hover-color-color: #000000;
$theme-buttons-secondary2-hover-color-opacity: 100;
$theme-buttons-secondary2-hover-border-color: #7FD3CE;
$theme-buttons-secondary2-hover-border-opacity: 100;
$theme-buttons-secondary3-background-color-color: #FFFFFF;
$theme-buttons-secondary3-background-color-opacity: 0;
$theme-buttons-secondary3-text-font-color: #FFFFFF;
$theme-buttons-secondary3-text-font-variant: 500;
$theme-buttons-secondary3-text-font-font: 'Albert Sans';
$theme-buttons-secondary3-text-font-fallback: sans-serif;
$theme-buttons-secondary3-text-font-font_set: GOOGLE;
$theme-buttons-secondary3-border-border-top-style: solid;
$theme-buttons-secondary3-border-border-top-color: #7FD3CE;
$theme-buttons-secondary3-border-border-top-opacity: 100;
$theme-buttons-secondary3-border-border-top-width-value: 2;
$theme-buttons-secondary3-border-border-top-width-units: px;
$theme-buttons-secondary3-border-border-bottom-style: solid;
$theme-buttons-secondary3-border-border-bottom-color: #7FD3CE;
$theme-buttons-secondary3-border-border-bottom-opacity: 100;
$theme-buttons-secondary3-border-border-bottom-width-value: 2;
$theme-buttons-secondary3-border-border-bottom-width-units: px;
$theme-buttons-secondary3-border-border-left-style: solid;
$theme-buttons-secondary3-border-border-left-color: #7FD3CE;
$theme-buttons-secondary3-border-border-left-opacity: 100;
$theme-buttons-secondary3-border-border-left-width-value: 2;
$theme-buttons-secondary3-border-border-left-width-units: px;
$theme-buttons-secondary3-border-border-right-style: solid;
$theme-buttons-secondary3-border-border-right-color: #7FD3CE;
$theme-buttons-secondary3-border-border-right-opacity: 100;
$theme-buttons-secondary3-border-border-right-width-value: 2;
$theme-buttons-secondary3-border-border-right-width-units: px;
$theme-buttons-secondary3-border-border_radius: 0;
$theme-buttons-secondary3-hover-background-color: #7FD3CE;
$theme-buttons-secondary3-hover-background-opacity: 0;
$theme-buttons-secondary3-hover-color-color: #ffffff;
$theme-buttons-secondary3-hover-color-opacity: 100;
$theme-buttons-secondary3-hover-border-color: #7FD3CE;
$theme-buttons-secondary3-hover-border-opacity: 100;
$theme-icons-size-small-spacing-padding-top-value: 15;
$theme-icons-size-small-spacing-padding-top-units: px;
$theme-icons-size-small-spacing-padding-right-value: 15;
$theme-icons-size-small-spacing-padding-right-units: px;
$theme-icons-size-small-spacing-padding-bottom-value: 15;
$theme-icons-size-small-spacing-padding-bottom-units: px;
$theme-icons-size-small-spacing-padding-left-value: 15;
$theme-icons-size-small-spacing-padding-left-units: px;
$theme-icons-size-small-size: 25;
$theme-icons-size-regular-spacing-padding-top-value: 20;
$theme-icons-size-regular-spacing-padding-top-units: px;
$theme-icons-size-regular-spacing-padding-right-value: 20;
$theme-icons-size-regular-spacing-padding-right-units: px;
$theme-icons-size-regular-spacing-padding-bottom-value: 20;
$theme-icons-size-regular-spacing-padding-bottom-units: px;
$theme-icons-size-regular-spacing-padding-left-value: 20;
$theme-icons-size-regular-spacing-padding-left-units: px;
$theme-icons-size-regular-size: 35;
$theme-icons-size-large-spacing-padding-top-value: 25;
$theme-icons-size-large-spacing-padding-top-units: px;
$theme-icons-size-large-spacing-padding-right-value: 25;
$theme-icons-size-large-spacing-padding-right-units: px;
$theme-icons-size-large-spacing-padding-bottom-value: 25;
$theme-icons-size-large-spacing-padding-bottom-units: px;
$theme-icons-size-large-spacing-padding-left-value: 25;
$theme-icons-size-large-spacing-padding-left-units: px;
$theme-icons-size-large-size: 55;
$theme-icons-primary-color-color-color: null;
$theme-icons-primary-color-color-opacity: null;
$theme-icons-secondary-color-color-color: null;
$theme-icons-secondary-color-color-opacity: null;
$theme-forms-background-color-color: null;
$theme-forms-background-color-opacity: null;
$theme-forms-text-font-size: null;
$theme-forms-text-font-styles: null;
$theme-forms-text-font-fallback: null;
$theme-forms-text-font-size_unit: null;
$theme-forms-text-font-color: null;
$theme-forms-text-font-variant: null;
$theme-forms-text-font-font: null;
$theme-forms-text-font-style: null;
$theme-forms-text-font-font_set: DEFAULT;
$theme-forms-border-border_radius: undefined;
$theme-forms-input_label-background-color: null;
$theme-forms-input_label-background-opacity: null;
$theme-forms-input_label-font-font_set: DEFAULT;
$theme-forms-input_label-font-size: 16;
$theme-forms-help_text-background-color: null;
$theme-forms-help_text-background-opacity: null;
$theme-forms-help_text-font-size: null;
$theme-forms-help_text-font-styles: null;
$theme-forms-help_text-font-fallback: null;
$theme-forms-help_text-font-size_unit: null;
$theme-forms-help_text-font-color: null;
$theme-forms-help_text-font-variant: null;
$theme-forms-help_text-font-font: null;
$theme-forms-help_text-font-style: null;
$theme-forms-help_text-font-font_set: DEFAULT;
$theme-forms-input_field-background-color: #ffffff;
$theme-forms-input_field-background-opacity: 0;
$theme-forms-input_field-border_radius: undefined;
$theme-forms-placeholder-font-font_set: DEFAULT;
$theme-forms-placeholder-font-size: 20;
$theme-forms-button-presets-style: form--btn-primary;
$theme-forms-button-presets-size: form--btn-regular;
$theme-forms-error-font-size: null;
$theme-forms-error-font-styles: null;
$theme-forms-error-font-fallback: null;
$theme-forms-error-font-size_unit: null;
$theme-forms-error-font-color: null;
$theme-forms-error-font-variant: null;
$theme-forms-error-font-font: null;
$theme-forms-error-font-style: null;
$theme-forms-error-font-font_set: DEFAULT;
$theme-forms-focus-color-color: null;
$theme-forms-focus-color-opacity: null;
$theme-layout-maximum_content_width: 1400;
$theme-layout-custom_maximum_content_width: 1300;
$theme-layout-vertical_spacing: 60;
