@use "../theme_variables" as theme;

/* Buttons */
/* Primary button */
/* $btn-primary-border: theme.$theme-buttons-primary-border-border; */
$btn-primary-radius: theme.$theme-buttons-primary-border-border_radius;
$btn-primary-font-font: theme.$theme-buttons-primary-text-font-font;
$btn-primary-font-color: theme.$theme-buttons-primary-text-font-color;
$btn-primary-background-color: theme.$theme-buttons-primary-background-color-color;
$btn-primary-background-opacity: theme.$theme-buttons-primary-background-color-opacity;

/* hover color */
$btn-primary-hover-color: if(theme.$theme-buttons-primary-hover-color-color, theme.$theme-buttons-primary-hover-color-color, color_variant($btn-primary-font-color, -20));

/* hover background */
$btn-primary-hover-background-color: if(theme.$theme-buttons-primary-hover-background-color, theme.$theme-buttons-primary-hover-background-color, color_variant($btn-primary-background-color, -25));
$btn-primary-hover-background-opacity: if(theme.$theme-buttons-primary-hover-background-color, theme.$theme-buttons-primary-hover-background-opacity, $btn-primary-background-opacity);

/* hover border */
$btn-primary-hover-border-color: if(theme.$theme-buttons-primary-hover-border-color, theme.$theme-buttons-primary-hover-border-color, color_variant($btn-primary-border-top-color, -25));
$btn-primary-hover-border-opacity: if(theme.$theme-buttons-primary-hover-border-color, theme.$theme-buttons-primary-hover-border-opacity, $btn-primary-border-top-opacity);

/* secondary1 button */
/* $btn-secondary1-border: theme.$theme-buttons-secondary1-border-border; */
$btn-secondary1-radius: theme.$theme-buttons-secondary1-border-border_radius;
$btn-secondary1-font-font: theme.$theme-buttons-secondary1-text-font-font;
$btn-secondary1-font-color: theme.$theme-buttons-secondary1-text-font-color;
$btn-secondary1-background-color: theme.$theme-buttons-secondary1-background-color-color;
$btn-secondary1-background-opacity: theme.$theme-buttons-secondary1-background-color-opacity;

/* hover color */
$btn-secondary1-hover-color: if(theme.$theme-buttons-secondary1-hover-color-color, theme.$theme-buttons-secondary1-hover-color-color, color_variant($btn-secondary1-font-color, -20));

/* hover background */
$btn-secondary1-hover-background-color: if(theme.$theme-buttons-secondary1-hover-background-color, theme.$theme-buttons-secondary1-hover-background-color, color_variant($btn-secondary1-background-color-color, -25));
$btn-secondary1-hover-background-opacity: if(theme.$theme-buttons-secondary1-hover-background-color, theme.$theme-buttons-secondary1-hover-background-opacity, $btn-secondary1-background-opacity);

/* hover border */
$btn-secondary1-hover-border-color: if(theme.$theme-buttons-secondary1-hover-border-color, theme.$theme-buttons-secondary1-hover-border-color, color_variant($btn-secondary1-border-top-color, -25));
$btn-secondary1-hover-border-opacity: if(theme.$theme-buttons-secondary1-hover-border-color, theme.$theme-buttons-secondary1-hover-border-opacity, $btn-secondary1-border-top-opacity);

/* secondary2 button */
/* $btn-secondary2-border: theme.$theme-buttons-secondary2-border-border; */
$btn-secondary2-radius: theme.$theme-buttons-secondary2-border-border_radius;
$btn-secondary2-font-font: theme.$theme-buttons-secondary2-text-font-font;
$btn-secondary2-font-color: theme.$theme-buttons-secondary2-text-font-color;
$btn-secondary2-background-color: theme.$theme-buttons-secondary2-background-color-color;
$btn-secondary2-background-opacity: theme.$theme-buttons-secondary2-background-color-opacity;

/* hover color */
$btn-secondary2-hover-color: if(theme.$theme-buttons-secondary2-hover-color-color, theme.$theme-buttons-secondary2-hover-color-color, color_variant($btn-secondary2-font-color, -20));

/* hover background */
$btn-secondary2-hover-background-color: if(theme.$theme-buttons-secondary2-hover-background-color, theme.$theme-buttons-secondary2-hover-background-color, color_variant($btn-secondary2-background-color-color, -25));
$btn-secondary2-hover-background-opacity: if(theme.$theme-buttons-secondary2-hover-background-color, theme.$theme-buttons-secondary2-hover-background-opacity, $btn-secondary2-background-opacity);

/* hover border */
$btn-secondary2-hover-border-color: if(theme.$theme-buttons-secondary2-hover-border-color, theme.$theme-buttons-secondary2-hover-border-color, color_variant($btn-secondary2-border-top-color, -25));
$btn-secondary2-hover-border-opacity: if(theme.$theme-buttons-secondary2-hover-border-color, theme.$theme-buttons-secondary2-hover-border-opacity, $btn-secondary2-border-top-opacity);

/* secondary3 button */
/* $btn-secondary3-border: theme.$theme-buttons-secondary3-border-border; */
$btn-secondary3-radius: theme.$theme-buttons-secondary3-border-border_radius;
$btn-secondary3-font-font: theme.$theme-buttons-secondary3-text-font-font;
$btn-secondary3-font-color: theme.$theme-buttons-secondary3-text-font-color;
$btn-secondary3-background-color: theme.$theme-buttons-secondary3-background-color-color;
$btn-secondary3-background-opacity: theme.$theme-buttons-secondary3-background-color-opacity;

/* hover color */
$btn-secondary3-hover-color: if(theme.$theme-buttons-secondary3-hover-color-color, theme.$theme-buttons-secondary3-hover-color-color, color_variant($btn-secondary3-font-color, -20));

/* hover background */
$btn-secondary3-hover-background-color: if(theme.$theme-buttons-secondary3-hover-background-color, theme.$theme-buttons-secondary3-hover-background-color, color_variant($btn-secondary3-background-color-color, -25));
$btn-secondary3-hover-background-opacity: if(theme.$theme-buttons-secondary3-hover-background-color, theme.$theme-buttons-secondary3-hover-background-opacity, $btn-secondary3-background-opacity);

/* hover border */
$btn-secondary3-hover-border-color: if(theme.$theme-buttons-secondary3-hover-border-color, theme.$theme-buttons-secondary3-hover-border-color, color_variant($btn-secondary3-border-top-color, -25));
$btn-secondary3-hover-border-opacity: if(theme.$theme-buttons-secondary3-hover-border-color, theme.$theme-buttons-secondary3-hover-border-opacity, $btn-secondary3-border-top-opacity);

.btn-small,
.form--btn-small input[type="submit"],
.form--btn-small input[type="file"]::file-selector-button {
  font-size: (theme.$theme-buttons-size-small-font_size + 'px');
  padding-top: (theme.$theme-buttons-size-small-spacing-padding-top-value + theme.$theme-buttons-size-small-spacing-padding-top-units);
  padding-bottom: (theme.$theme-buttons-size-small-spacing-padding-bottom-value + theme.$theme-buttons-size-small-spacing-padding-bottom-units);
  padding-left: (theme.$theme-buttons-size-small-spacing-padding-left-value + theme.$theme-buttons-size-small-spacing-padding-left-units);
  padding-right: (theme.$theme-buttons-size-small-spacing-padding-right-value + theme.$theme-buttons-size-small-spacing-padding-right-units);
}

.btn-regular,
.form--btn-regular input[type="submit"],
.form--btn-regular input[type="file"]::file-selector-button {
  font-size: #{theme.$theme-buttons-size-regular-font_size}px;
  padding-top: (theme.$theme-buttons-size-regular-spacing-padding-top-value + theme.$theme-buttons-size-regular-spacing-padding-top-units);
  padding-bottom: (theme.$theme-buttons-size-regular-spacing-padding-bottom-value + theme.$theme-buttons-size-regular-spacing-padding-bottom-units);
  padding-left: (theme.$theme-buttons-size-regular-spacing-padding-left-value + theme.$theme-buttons-size-regular-spacing-padding-left-units);
  padding-right: (theme.$theme-buttons-size-regular-spacing-padding-right-value + theme.$theme-buttons-size-regular-spacing-padding-right-units);
}

.btn-large,
.form--btn-large input[type="submit"],
.form--btn-large input[type="file"]::file-selector-button {
  font-size: #{theme.$theme-buttons-size-large-font_size}px;
  padding-top: (theme.$theme-buttons-size-large-spacing-padding-top-value + theme.$theme-buttons-size-large-spacing-padding-top-units);
  padding-bottom: (theme.$theme-buttons-size-large-spacing-padding-bottom-value + theme.$theme-buttons-size-large-spacing-padding-bottom-units);
  padding-left: (theme.$theme-buttons-size-large-spacing-padding-left-value + theme.$theme-buttons-size-large-spacing-padding-left-units);
  padding-right: (theme.$theme-buttons-size-large-spacing-padding-right-value + theme.$theme-buttons-size-large-spacing-padding-right-units);
}

/* button primary */
.btn-primary,
.form--btn-primary input[type="submit"],
.form--btn-primary input[type="file"]::file-selector-button {
  @if $btn-primary-radius {
    --border-radius: ($theme.$theme-buttons-primary-border-border_radius + 'px');
  }
  @if $btn-primary-font-color {
    --color: #{$btn-primary-font-color};
  }
  @if $btn-primary-background-color {
    --bg: #{rgb($btn-primary-background-color, $btn-primary-background-opacity)};
  }
  @if $btn-primary-font-font {
    font-family: theme.$theme-buttons-primary-text-font-font, theme.$theme-buttons-primary-text-font-fallback;
    font-weight: theme.$theme-buttons-primary-text-font-variant;
  } else {
    font-family: var(--system-fonts);
  }
  border-top: (theme.$theme-buttons-primary-border-border-top-width-value + theme.$theme-buttons-primary-border-border-top-width-units) (theme.$theme-buttons-primary-border-border-top-style) (theme.$theme-buttons-primary-border-border-top-color);
  border-bottom: (theme.$theme-buttons-primary-border-border-bottom-width-value + theme.$theme-buttons-primary-border-border-bottom-width-units) (theme.$theme-buttons-primary-border-border-bottom-style) (theme.$theme-buttons-primary-border-border-bottom-color);
  border-left: (theme.$theme-buttons-primary-border-border-left-width-value + theme.$theme-buttons-primary-border-border-left-width-units) (theme.$theme-buttons-primary-border-border-left-style) (theme.$theme-buttons-primary-border-border-left-color);
  border-right: (theme.$theme-buttons-primary-border-border-right-width-value + theme.$theme-buttons-primary-border-border-right-width-units) (theme.$theme-buttons-primary-border-border-right-style) (theme.$theme-buttons-primary-border-border-right-color);
}

.btn-primary:hover,
.form--btn-primary input[type="submit"]:hover {
  @if $btn-primary-hover-color {
    --hover-color: #{$btn-primary-hover-color};
  }
  @if $btn-primary-hover-background-color {
    --hover-bg: #{rgb($btn-primary-hover-background-color, $btn-primary-hover-background-opacity)};
  }
  @if $btn-primary-hover-border-color {
    --hover-border: #{rgb($btn-primary-hover-border-color, $btn-primary-hover-border-opacity)};
  }
}

/* button secondary1 */
.btn-secondary1,
.form--btn-secondary1 input[type="submit"],
.form--btn-secondary1 input[type="file"]::file-selector-button {
  @if $btn-secondary1-radius {
    --border-radius: #{$btn-secondary1-radius}px;
  }
  @if $btn-secondary1-font-color {
    --color: #{$btn-secondary1-font-color};
  }
  @if $btn-secondary1-background-color {
    --bg: #{rgb($btn-secondary1-background-color, $btn-secondary1-background-opacity)};
  }
  @if $btn-secondary1-font-font {
    font-family: theme.$theme-buttons-secondary1-text-font-font, theme.$theme-buttons-secondary1-text-font-fallback;
    font-weight: theme.$theme-buttons-secondary1-text-font-variant;
  } else {
    font-family: var(--system-fonts);
  }
  border-top: (theme.$theme-buttons-secondary1-border-border-top-width-value + theme.$theme-buttons-secondary1-border-border-top-width-units) (theme.$theme-buttons-secondary1-border-border-top-style) (theme.$theme-buttons-secondary1-border-border-top-color);
  border-bottom: (theme.$theme-buttons-secondary1-border-border-bottom-width-value + theme.$theme-buttons-secondary1-border-border-bottom-width-units) (theme.$theme-buttons-secondary1-border-border-bottom-style) (theme.$theme-buttons-secondary1-border-border-bottom-color);
  border-left: (theme.$theme-buttons-secondary1-border-border-left-width-value + theme.$theme-buttons-secondary1-border-border-left-width-units) (theme.$theme-buttons-secondary1-border-border-left-style) (theme.$theme-buttons-secondary1-border-border-left-color);
  border-right: (theme.$theme-buttons-secondary1-border-border-right-width-value + theme.$theme-buttons-secondary1-border-border-right-width-units) (theme.$theme-buttons-secondary1-border-border-right-style) (theme.$theme-buttons-secondary1-border-border-right-color);
}

.btn-secondary1:hover,
.form--btn-secondary1 input[type="submit"]:hover {
  @if $btn-secondary1-hover-color {
    --hover-color: #{$btn-secondary1-hover-color};
  }
  @if $btn-secondary1-hover-background-color {
    --hover-bg: #{rgb($btn-secondary1-hover-background-color, $btn-secondary1-hover-background-opacity)};
  }
  @if $btn-secondary1-hover-border-color {
    --hover-border: #{rgb($btn-secondary1-hover-border-color, $btn-secondary1-hover-border-opacity)};
  }
}

/* button secondary2 */
.btn-secondary2,
.form--btn-secondary2 input[type="submit"],
.form--btn-secondary2 input[type="file"]::file-selector-button {
  @if $btn-secondary2-radius {
    --border-radius: #{$btn-secondary2-radius}px;
  }
  @if $btn-secondary2-font-color {
    --color: #{$btn-secondary2-font-color};
  }
  @if $btn-secondary2-background-color {
    --bg: #{rgb($btn-secondary2-background-color, $btn-secondary2-background-opacity)};
  }
  @if $btn-secondary2-font-font {
    font-family: theme.$theme-buttons-secondary2-text-font-font, theme.$theme-buttons-secondary2-text-font-fallback;
    font-weight: theme.$theme-buttons-secondary2-text-font-variant;
  } else {
    font-family: var(--system-fonts);
  }
  border-top: (theme.$theme-buttons-secondary2-border-border-top-width-value + theme.$theme-buttons-secondary2-border-border-top-width-units) (theme.$theme-buttons-secondary2-border-border-top-style) (theme.$theme-buttons-secondary2-border-border-top-color);
  border-bottom: (theme.$theme-buttons-secondary2-border-border-bottom-width-value + theme.$theme-buttons-secondary2-border-border-bottom-width-units) (theme.$theme-buttons-secondary2-border-border-bottom-style) (theme.$theme-buttons-secondary2-border-border-bottom-color);
  border-left: (theme.$theme-buttons-secondary2-border-border-left-width-value + theme.$theme-buttons-secondary2-border-border-left-width-units) (theme.$theme-buttons-secondary2-border-border-left-style) (theme.$theme-buttons-secondary2-border-border-left-color);
  border-right: (theme.$theme-buttons-secondary2-border-border-right-width-value + theme.$theme-buttons-secondary2-border-border-right-width-units) (theme.$theme-buttons-secondary2-border-border-right-style) (theme.$theme-buttons-secondary2-border-border-right-color);
}

.btn-secondary2:hover,
.form--btn-secondary2 input[type="submit"]:hover {
  @if $btn-secondary2-hover-color {
    --hover-color: #{$btn-secondary2-hover-color};
  }
  @if $btn-secondary2-hover-background-color {
    --hover-bg: #{rgb($btn-secondary2-hover-background-color, $btn-secondary2-hover-background-opacity)};
  }
  @if $btn-secondary2-hover-border-color {
    --hover-border: #{rgb($btn-secondary2-hover-border-color, $btn-secondary2-hover-border-opacity)};
  }
}

/* button secondary3 */
.btn-secondary3,
.form--btn-secondary3 input[type="submit"],
.form--btn-secondary3 input[type="file"]::file-selector-button {
  @if $btn-secondary3-radius {
    --border-radius: #{$btn-secondary3-radius}px;
  }
  @if $btn-secondary3-font-color {
    --color: #{$btn-secondary3-font-color};
  }
  @if $btn-secondary3-background-color {
    --bg: #{rgb($btn-secondary3-background-color, $btn-secondary3-background-opacity)};
  }
  @if $btn-secondary3-font-font {
    font-family: theme.$theme-buttons-secondary3-text-font-font, theme.$theme-buttons-secondary3-text-font-fallback;
    font-weight: theme.$theme-buttons-secondary3-text-font-variant;
  } else {
    font-family: var(--system-fonts);
  }
  border-top: (theme.$theme-buttons-secondary3-border-border-top-width-value + theme.$theme-buttons-secondary3-border-border-top-width-units) (theme.$theme-buttons-secondary3-border-border-top-style) (theme.$theme-buttons-secondary3-border-border-top-color);
  border-bottom: (theme.$theme-buttons-secondary3-border-border-bottom-width-value + theme.$theme-buttons-secondary3-border-border-bottom-width-units) (theme.$theme-buttons-secondary3-border-border-bottom-style) (theme.$theme-buttons-secondary3-border-border-bottom-color);
  border-left: (theme.$theme-buttons-secondary3-border-border-left-width-value + theme.$theme-buttons-secondary3-border-border-left-width-units) (theme.$theme-buttons-secondary3-border-border-left-style) (theme.$theme-buttons-secondary3-border-border-left-color);
  border-right: (theme.$theme-buttons-secondary3-border-border-right-width-value + theme.$theme-buttons-secondary3-border-border-right-width-units) (theme.$theme-buttons-secondary3-border-border-right-style) (theme.$theme-buttons-secondary3-border-border-right-color);
}

.btn-secondary3:hover,
.form--btn-secondary3 input[type="submit"]:hover {
  @if $btn-secondary3-hover-color {
    --hover-color: #{$btn-secondary3-hover-color};
  }
  @if $btn-secondary3-hover-background-color {
    --hover-bg: #{rgb($btn-secondary3-hover-background-color, $btn-secondary3-hover-background-opacity)};
  }
  @if $btn-secondary3-hover-border-color {
    --hover-border: #{rgb($btn-secondary3-hover-border-color, $btn-secondary3-hover-border-opacity)};
  }
}
