{% import '../macros/macros.css' %}

.form-default input:not(
  [type="checkbox"],
  [type="radio"],
  [type="file"],
  [type="button"],
  [type="reset"],
  [type="submit"]):focus,
.form-default textarea:focus,
.form-default select:focus {
  border-color: {{theme.global_colors.advanced.focus.color}};
  outline: 0;
  box-shadow: 0 0 0 0.25rem {{rgb(theme.global_colors.advanced.focus.color, 30)}};
}

.form-default {
  {% if theme.forms.input_label.font.color %}
    --form-label-color: {{theme.forms.input_label.font.color}};
  {% endif %}
  {% if theme.forms.help_text.font.color %}
    --form-help-text-color: {{theme.forms.help_text.font.color}};
  {% endif %}
  {% if theme.forms.placeholder.font.color %}
    --form-placeholder-color: {{theme.forms.placeholder.font.color}};
  {% endif %}
  {% if theme.forms.error.font.color %}
    --form-error-color: {{theme.forms.error.font.color}};
  {% endif %}
  {% if theme.forms.focus.color.css %}
    --form-focus-color: {{theme.forms.focus.color.css}};
  {% endif %}
  {% if theme.forms.background.color.css %}
    background-color: {{theme.forms.background.color.css}};
  {% endif %}
  {% if theme.forms.border.border_radius != null %}
    border-radius: {{theme.forms.border.border_radius ~ 'px'}};
  {% endif %}
  {{theme.forms.spacing.spacing.css}}
  {{theme.forms.border.border.css}}
}

.form-default .submitted-message,
.form-default .hs-richtext {
  {% if theme.forms.text.font.size %}
    font-size: {{theme.forms.text.font.size ~ 'px'}};
  {% endif %}
  {% if theme.forms.text.font.color %}
    color: {{theme.forms.text.font.color}};
  {% endif %}
  {% if theme.forms.text.font.style %}
    {{theme.forms.text.font.style}};
  {% endif %}
}

.form-default label:not(.hs-error-msg):not(.hs-main-font-element),
.form-default .fakelabel {
  {% if theme.forms.input_label.background.css %}
    background-color: {{theme.forms.input_label.background.css}};
  {% endif %}
  {% if theme.forms.input_label.font.style %}
    {{theme.forms.input_label.font.style}};
  {% endif %}
  {% if theme.forms.input_label.font.size %}
    font-size: {{theme.forms.input_label.font.size ~ 'px'}};
  {% endif %}
  {{theme.forms.input_label.spacing.css}}
}

.form-default .hs-field-desc {
  {% if theme.forms.help_text.background.css %}
    background-color: {{theme.forms.help_text.background.css}};
  {% endif %}
  {% if theme.forms.help_text.font.style %}
    {{theme.forms.help_text.font.style}};
  {% endif %}
  {% if theme.forms.help_text.font.size %}
    font-size: {{theme.forms.help_text.font.size ~ 'px'}};
  {% endif %}
  {{theme.forms.help_text.spacing.css}}
}

.form-default input:not(
  [type="checkbox"],
  [type="radio"],
  [type="file"],
  [type="button"],
  [type="reset"],
  [type="submit"]),
.form-default textarea,
.form-default select {
  {% if theme.forms.input_field.background.css %}
    background-color: {{theme.forms.input_field.background.css}};
  {% endif %}
  {% if theme.forms.input_field.border_radius != null %}
    border-radius: {{theme.forms.input_field.border_radius ~ 'px'}};
  {% endif %}
  {{theme.forms.input_field.border.css}}
  {{theme.forms.input_field.spacing.css}}
}

{% if theme.forms.input_field.spacing.css %}
  .form-default select {
    {{theme.forms.input_field.spacing.css}}
    {% if theme.forms.input_field.spacing.padding.top.value %}
      padding-top:{{theme.forms.input_field.spacing.padding.top.value + 2 ~ 'px'}};
    {% endif %}
    {% if theme.forms.input_field.spacing.padding.bottom.value %}
      padding-bottom:{{theme.forms.input_field.spacing.padding.bottom.value + 2 ~ 'px'}};
    {% endif %}
    {% if theme.forms.input_field.spacing.padding.left.value %}
      padding-left:{{theme.forms.input_field.spacing.padding.left.value ~ 'px'}};
    {% endif %}
    {% if theme.forms.input_field.spacing.padding.right.valu %}
      padding-right:{{theme.forms.input_field.spacing.padding.right.value ~ 'px'}};
    {% endif %}
  }
{% endif %}

{% if theme.forms.focus.color.color %}
  .form-default input:not(
    [type="checkbox"],
    [type="radio"],
    [type="file"],
    [type="button"],
    [type="reset"],
    [type="submit"]):focus,
  .form-default textarea:focus,
  .form-default select:focus {
      border-color: {{theme.forms.focus.color.css}};
      box-shadow: 0 0 0 0.25rem {{rgb(theme.forms.focus.color.color, 30)}};
  }
{% endif %}

.form-default input::placeholder,
.form-default textarea::placeholder {
  {% if theme.forms.placeholder.font.style %}
    {{theme.forms.placeholder.font.style}};
  {% endif %}
  {% if theme.forms.placeholder.font.size %}
    font-size: {{theme.forms.placeholder.font.size ~ 'px'}};
  {% endif %}
}

.form-default .hs-error-msg {
  {% if theme.forms.error.font.style %}
    {{theme.forms.error.font.style}};
  {% endif %}
  {% if theme.forms.error.font.size %}
    font-size: {{theme.forms.error.font.size ~ 'px'}};
  {% endif %}
  {{theme.forms.error.spacing.css}}
}
