@use "../theme_variables" as theme;

$icon_small_size: (theme.$theme-icons-size-small-size + 'px');
$icon_regular_size: (theme.$theme-icons-size-regular-size + 'px');
$icon_large_size: (theme.$theme-icons-size-large-size  + 'px');


.icon--small svg {
  height: $icon_small_size;
  width: $icon_small_size;
}
.icon--small {
  padding-top: theme.$theme-icons-size-small-spacing-padding-top-value + theme.$theme-icons-size-small-spacing-padding-top-units;
  padding-right: theme.$theme-icons-size-small-spacing-padding-right-value + theme.$theme-icons-size-small-spacing-padding-right-units;
  padding-bottom: theme.$theme-icons-size-small-spacing-padding-bottom-value + theme.$theme-icons-size-small-spacing-padding-bottom-units;
  padding-left: theme.$theme-icons-size-small-spacing-padding-left-value + theme.$theme-icons-size-small-spacing-padding-left-units;
}

.icon--regular svg {
  height: $icon_regular_size;
  width: $icon_regular_size;
}

.icon--regular {
  padding-top: theme.$theme-icons-size-regular-spacing-padding-top-value + theme.$theme-icons-size-regular-spacing-padding-top-units;
  padding-right: theme.$theme-icons-size-regular-spacing-padding-right-value + theme.$theme-icons-size-regular-spacing-padding-right-units;
  padding-bottom: theme.$theme-icons-size-regular-spacing-padding-bottom-value + theme.$theme-icons-size-regular-spacing-padding-bottom-units;
  padding-left: theme.$theme-icons-size-regular-spacing-padding-left-value + theme.$theme-icons-size-regular-spacing-padding-left-units;
}

.icon--large svg {
  height: $icon_large_size;
  width: $icon_large_size;
}

.icon--large {
  padding-top: theme.$theme-icons-size-large-spacing-padding-top-value + theme.$theme-icons-size-large-spacing-padding-top-units;
  padding-right: theme.$theme-icons-size-large-spacing-padding-right-value + theme.$theme-icons-size-large-spacing-padding-right-units;
  padding-bottom: theme.$theme-icons-size-large-spacing-padding-bottom-value + theme.$theme-icons-size-large-spacing-padding-bottom-units;
  padding-left: theme.$theme-icons-size-large-spacing-padding-left-value + theme.$theme-icons-size-large-spacing-padding-left-units;
}

.icon--circle {
  border-radius: 50%;
}
