@use "../theme_variables" as theme;

:root {
  /* system-fonts */
  /* https://markdotto.com/2018/02/07/github-system-fonts/ */
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* stylelint-disable-line */
  --primary-color: #{theme.$theme-global_colors-primary-color};
  --secondary1-color: #{theme.$theme-global_colors-secondary1-color};
  --secondary2-color: #{theme.$theme-global_colors-secondary2-color};
  --secondary3-color: #{theme.$theme-global_colors-secondary3-color};
  --focus-color: #{theme.$theme-global_colors-advanced-focus-color};
  --accent-color: initial;
  accent-color: var(--accent-color);
}
