.applies-to-edition {
    display: inline-block;
    position: relative;
}

.applies-to-product {
    display: inline-block;
    position: relative;
}

.applies-to-tooltip {
    cursor: pointer;
}

.applies-to {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 !important;
    padding: .5rem 0 0 !important
}

.applies-to>li:not(:last-of-type, :only-of-type):after {
    padding-left: 5px;
    padding-right: 5px;
    content: "\2022"
}

.applies-to-tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #004c47;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -120px;
}

.applies-to-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #004c47 transparent;
}

.applies-to-tooltip:hover .applies-to-tooltiptext {
  visibility: visible;
}