@use "../../theme_variables" as theme;

/* blockquote */
blockquote,
.blockquote {
  border-left: 6px solid #ccc;
  padding-left: 0.8rem;
  margin-left: 3rem;
  font-size: (theme.$theme-typography-blockquote-font-size + 'px');
}
